# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env*
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
logs
*.log*

# Misc
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
